@charset "UTF-8";
body .yc {
  display: none; }

* {
  margin: 0;
  padding: 0; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 80px;
  background-image: url(../img/bannerbg.jpg); }
  .nav .nav1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 80px;
    width: 1200px;
    margin: 0 auto; }
    .nav .nav1 .logo {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 20px;
      width: 200px;
      height: 80px; }
      .nav .nav1 .logo .logo2 {
        width: 100%;
        height: 40px; }
        .nav .nav1 .logo .logo2 img {
          width: 100%;
          height: 100%; }
    .nav .nav1 ul {
      margin-top: 15px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 600px;
      height: 50px;
      line-height: 50px; }
      .nav .nav1 ul .li1 {
        cursor: pointer;
        position: relative;
        height: 100%;
        width: 98px;
        text-align: center;
        list-style: none;
        color: #ccc;
        font-family: "微软雅黑";
        font-weight: 700; }
        .nav .nav1 ul .li1:hover {
          color: #fff;
          font-size: 22px; }
        .nav .nav1 ul .li1 .ld {
          position: absolute;
          top: 48px;
          left: 0;
          width: 318px;
          height: 240px;
          z-index: 10; }
          .nav .nav1 ul .li1 .ld .ld1 {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 12px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            height: 240px; }
          .nav .nav1 ul .li1 .ld ol {
            margin: auto 0;
            list-style: none;
            width: 98px;
            height: 200px;
            background-color: #000000; }
            .nav .nav1 ul .li1 .ld ol li {
              line-height: 38px;
              width: 100%;
              text-align: center; }
              .nav .nav1 ul .li1 .ld ol li a {
                font-size: 12px;
                text-decoration: none;
                color: #ccc; }
                .nav .nav1 ul .li1 .ld ol li a:hover {
                  text-decoration: underline; }
            .nav .nav1 ul .li1 .ld ol .tt a {
              color: #fff;
              font-size: 14px;
              display: inline-block;
              border-bottom: 1px solid #fff; }
        .nav .nav1 ul .li1 .gywm1 {
          position: absolute;
          right: 0;
          top: 48px;
          width: 98px;
          height: 220px;
          z-index: 13; }
          .nav .nav1 ul .li1 .gywm1 .gywmOl {
            margin-top: 20px;
            list-style: none;
            width: 98px;
            height: 200px;
            background-color: #000000; }
            .nav .nav1 ul .li1 .gywm1 .gywmOl li {
              line-height: 38px;
              width: 100%;
              text-align: center; }
              .nav .nav1 ul .li1 .gywm1 .gywmOl li a {
                font-size: 12px;
                text-decoration: none;
                color: #ccc; }
                .nav .nav1 ul .li1 .gywm1 .gywmOl li a:hover {
                  text-decoration: underline; }
      .nav .nav1 ul .shouye a {
        font-size: 22px;
        text-decoration: none;
        color: #fff; }

.datu {
  margin-top: 80px;
  width: 100%;
  height: 330px; }
  .datu img {
    width: 100%;
    height: 100%; }

.jianjie {
  width: 100%;
  height: 768px;
  background-color: #f7f7f7; }
  .jianjie .jianjie-j {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
    height: 568px;
    background-color: #fff; }
    .jianjie .jianjie-j .dinwei {
      width: 100%;
      height: 300px;
      position: absolute;
      bottom: -350px; }
      .jianjie .jianjie-j .dinwei img {
        width: 100%;
        height: 100%; }
    .jianjie .jianjie-j .left {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 40px;
      width: 58%;
      height: 568px; }
      .jianjie .jianjie-j .left h2 {
        margin-top: 50px;
        line-break: 50px; }
      .jianjie .jianjie-j .left h3 {
        line-break: 50px;
        font-size: 25px;
        margin-bottom: 20px;
        color: blue; }
      .jianjie .jianjie-j .left .heng {
        width: 20px;
        height: 2px;
        background-color: blue; }
      .jianjie .jianjie-j .left p {
        line-height: 25px;
        margin-top: 20px;
        font-size: 10px; }
    .jianjie .jianjie-j .right {
      width: 40%;
      height: 568px;
      background-color: blue; }
      .jianjie .jianjie-j .right .right-t {
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 250px; }
        .jianjie .jianjie-j .right .right-t h2 {
          margin-top: 50px;
          line-break: 50px; }
        .jianjie .jianjie-j .right .right-t .heng {
          margin: 20px 0;
          width: 20px;
          height: 2px;
          background-color: #fff; }
        .jianjie .jianjie-j .right .right-t p {
          color: #fff;
          font-size: 10px; }
        .jianjie .jianjie-j .right .right-t .d1 {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-top: 20px;
          width: 100%;
          height: 100px; }
          .jianjie .jianjie-j .right .right-t .d1 .d11 {
            width: 17%;
            height: 100px; }
            .jianjie .jianjie-j .right .right-t .d1 .d11 p {
              line-height: 25px;
              color: #fff; }
            .jianjie .jianjie-j .right .right-t .d1 .d11 h5 {
              line-height: 50px;
              font-size: 38px;
              color: #fff; }
            .jianjie .jianjie-j .right .right-t .d1 .d11 span {
              line-height: 20px;
              font-size: 12px;
              color: #fff; }
      .jianjie .jianjie-j .right .right-b {
        padding: 30px 20px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 268px;
        background-color: #e0f0fd; }
        .jianjie .jianjie-j .right .right-b h3 {
          line-height: 40px;
          font-size: 23px; }
        .jianjie .jianjie-j .right .right-b h4 {
          line-height: 40px;
          font-size: 33px;
          color: blue; }
        .jianjie .jianjie-j .right .right-b p {
          line-height: 30px;
          font-size: 12px;
          margin-bottom: 20px; }

.juzhong {
  margin: 0 auto;
  width: 1200px;
  height: 322px; }
  .juzhong .dd1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 322px;
    margin-top: 308px; }
    .juzhong .dd1 .left {
      width: 40%;
      height: 100%; }
      .juzhong .dd1 .left .qiyewenhua {
        width: 100%;
        height: 32px; }
        .juzhong .dd1 .left .qiyewenhua .shu {
          margin-right: 20px;
          float: left;
          width: 3px;
          height: 32px;
          background-color: blue; }
        .juzhong .dd1 .left .qiyewenhua h3 {
          float: left;
          font-size: 24px; }
      .juzhong .dd1 .left h4 {
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 30px;
        color: blue; }
      .juzhong .dd1 .left p {
        line-height: 40px;
        font-size: 18x;
        color: #cacaca; }
        .juzhong .dd1 .left p span {
          font-size: 20px;
          color: #666666; }
    .juzhong .dd1 .right {
      width: 550px;
      height: 100%; }
      .juzhong .dd1 .right .tupian {
        width: 100%;
        height: 200px;
        margin-top: 78px; }
        .juzhong .dd1 .right .tupian img {
          width: 100%;
          height: 100%; }

.miyuedashiji {
  padding-top: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background-color: blue; }
  .miyuedashiji h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    color: #fff; }
  .miyuedashiji h4 {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    color: #fff; }

.kon {
  width: 100%;
  height: 300px; }
  .kon .juzhong {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 300px; }
  .kon .jilu {
    width: 1200px;
    height: 300px;
    position: absolute;
    top: -150px;
    background-color: yellow;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .kon .jilu .left {
      width: 50%;
      height: 100%;
      position: relative; }
      .kon .jilu .left .dd {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 55px 0 0 70px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #efefef; }
        .kon .jilu .left .dd h5 {
          font-size: 25px;
          color: blue; }
        .kon .jilu .left .dd .heng {
          width: 60px;
          height: 2px;
          background-color: blue;
          margin-top: 20px; }
        .kon .jilu .left .dd p {
          margin-top: 40px; }
    .kon .jilu .right {
      padding: 30px 0 0 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      background-image: url(../img/关于我们/pic_3dad.png); }
      .kon .jilu .right ul {
        width: 100%;
        height: 100%;
        list-style: none; }
        .kon .jilu .right ul li {
          cursor: pointer;
          color: #fff;
          float: left;
          width: 100px;
          height: 50px;
          font-size: 20px;
          text-align: center;
          line-height: 50px;
          margin: 0 83px 30px 0;
          border: 1px solid #fff; }
        .kon .jilu .right ul .blue {
          background-color: blue;
          border: 0; }

.dibu {
  width: 100%;
  height: 188px;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #051061; }
  .dibu .dibu-tl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1200px;
    height: 88px;
    margin: auto; }
    .dibu .dibu-tl div {
      width: 40%;
      height: 88px; }
      .dibu .dibu-tl div p {
        color: darkgray;
        margin: 0;
        line-height: 44px;
        font-size: 14px; }
    .dibu .dibu-tl ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 50%;
      height: 88px; }
      .dibu .dibu-tl ul li {
        list-style: none;
        width: 252px;
        line-height: 44px; }
        .dibu .dibu-tl ul li span {
          color: #fff;
          font-size: 16px; }
